* {
    padding: 0;
	margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Nanum Myeonjo', serif;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*popup*/
.popup {
    position: absolute;
    left: 20px;
    top: 110px; z-index: 6000;
    width: 600px;
    height: 170px;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(240, 143, 143);
}

.popup h2 {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.popup p {
    font-size: 17px;
    font-weight: bolder;
    color: #383838;
    line-height: 25px;
    margin-bottom: 15px;
}

.popup a {
    display: block;
    font-size: 17px;
    text-align: right;
}
/*End popup*/

/* header */
.wrapper {
	width: auto;
	margin: 0 auto;
}
header {
	height: 80px;
	background: #383838;
    width: 100%;
    padding: 0 25px;
    z-index: 10;
    position: absolute;
}
.logo {
	width: 30%;
	float: left;
	line-height: 80px;
}
.logo a {
	text-decoration: none;
    font-size: 3.6rem;
    font-weight: bolder;
	color: whitesmoke;
    letter-spacing: 5px;
    padding: 0 20px;
}
.logo i {
    color: #fa5858;
    font-size: 35px;
    padding: 5px;
}
nav {
    list-style: none;
	float: right;
    line-height: 80px;
    display: flex;
}
nav a {
    font-size: 2rem;
    padding: 0px 20px;
}
nav li a {
	text-decoration: none;
	letter-spacing: 4px;
	font-size: 2rem;
    margin: 0 10px;
    padding: 22px 15px;
	color: whitesmoke;
}
nav li a:hover {
    background-color: #f77070;
    transition: .5s;
}
/* End header */

/* Main Section */
#main {
    min-height: 100vh;
	max-width: 100%;
	padding-top: 50px;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
    background-image: url(main-bg.jpg);
    background-size: cover;
    background-position: top center;
    z-index: 1;
}
#main ::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #212121;
    opacity: .45;
    z-index: -1;
}
#main .main container {
	width: 100%;
	text-align: center;
}
#main h1 {
    font-size: 4.5rem;
	font-weight: 650;
    color: whitesmoke;
}
#main p {
    font-size: 2.1rem;
    letter-spacing: .1rem;
    line-height: 180%;
	color: whitesmoke;
    margin-top: 25px;
}
#main .cta {
    display: inline-block;
    padding: 10px 30px;
    color: whitesmoke;
    background-color: transparent;
    border-radius: 40px;
    border: 2px solid #fa5858;
    font-size: 3rem;
    letter-spacing: .1rem;
    margin-top: 35px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#main .cta:hover {
    color: whitesmoke;
    background-color: #fa5858;
}
/* End Main Section */

/* For Section */
#for {
    min-height: 100vh;
	max-width: 100%;
	padding-top: 25px;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
    background-image: url(for-bg.jpg);
    background-size: cover;
    background-position: top center;
    z-index: 1;
}
#for ::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #6b708a;
    opacity: .3;
    z-index: -1;
}
#for .for you {
    text-align: center;
}
#for h1 {
    font-size: 4.5rem;
    font-weight: 650;
    letter-spacing: .1rem;
    color: whitesmoke;
}
#for p {
    font-size: 2.1rem;
    font-weight: bold;
	line-height: 200%;
    margin-top: 40px;
    color: whitesmoke;
}
#for .cta {
    display: inline-block;
    padding: 10px 30px;
    color: whitesmoke;
    background-color: transparent;
    border-radius: 40px;
    border: 2px solid #fa5858;
    font-size: 3rem;
    letter-spacing: .1rem;
    margin-top: 35px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#for .cta:hover {
    color: whitesmoke;
    background-color: #fa5858;
}
/* End For Section */

/* Maps Section */
#maps {
	min-height: 100vh;
	max-width: 100%;
	padding: 10rem 5rem;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    background-image: url(map-bg.jpg);
    background-size: cover;
    background-position: top center;
    z-index: 1;
}
#maps ::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #847899;
    opacity: .3;
    z-index: -1;
}
.maps .maps-info {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
    flex-direction: row;
}
.maps .maps-info .map {
	width: 100%;
    min-height: 300px;
    min-width: 340px;
	position: relative;
	transition: .3s ease transform;
	margin: 5px;
}
.maps .maps-info .map .map-card {
	position: absolute;
	height: 100%;
	width: 100%;
	transform-style: preserve-3d;
	transition: .3s ease transform;
	display: block;
}
.maps .maps-info .map .map-card .map-front,
.maps .maps-info .map .map-card .map-back {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    background-color:rgb(250,88,88, 0.5);
	padding: 10px;
}
.maps .maps-info .map .map-card .map-back {
	transform: rotateY(180deg);
}
.maps .maps-info .map .map-card .map-front i {
	font-size: 4rem;
    color: whitesmoke;
    margin-top: 10px;
	margin-bottom: 10px;
}
.maps .maps-info .map .map-card .map-front .map-front-heading,
.maps .maps-info .map .map-card .map-back .map-back-heading {
    font-size: 2.5rem;
    color: whitesmoke;
}
.maps .maps-info .map:hover .map-card {
	transform: rotateY(180deg);
}
.maps .maps-info .map .map-card .map-back .map-back-sub {
	font-size: 2rem;
    margin-top: 20px;
    line-height: 150%;
    text-align: center;
    color: whitesmoke;
}
.maps .maps-info .map .map-card .map-front,
.maps .maps-info .map .map-card .map-front {
	position: relative;
	color: white;
}
.maps .maps-info .map .map-card .map-front i,
.maps .maps-info .map .map-card .map-front i {
	color: white;
}
/* End Maps Section */

/* Making Section */
.making-img {
    min-height: 100vh;
	max-width: 100%;
	padding-top: 50px;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
    background-image: url(making-bg.jpg);
    background-size: cover;
    background-position: top center;
    z-index: 1;
	background-repeat: no-repeat;
}
/*  End Making Section */